.edit-form {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
/*
.edit-form h2 {
    margin-bottom: 20px;
}
    */

.edit-form .form-group {
    margin-bottom: 15px;
}

.edit-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}